language: android
sudo: required
jdk: oraclejdk8
env:
  global:
  - ANDROID_API_LEVEL = 28
  - ANDROID_BUILD_TOOLS_VERSION = 28.0.2
android:
  components:
  - tools
  - platform-tools
  - build-tools-$ANDROID_BUILD_TOOLS_VERSION
  - android - $ANDROID_API_LEVEL
  - extra-google-google_play_services
  - extra-google-m2repository
  - addon-google_apis-google-$ANDROID_API_LEVEL
  licences:
  - android-sdk-preview-license-.+
  - android-sdk-license-.+
  - google-gdk-license-.+
before_cache:
- rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
- rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
  - "$HOME/.gradle/caches/"
  - "$HOME/.gradle/wrapper/"
  - "$HOME/.android/build-cache"
script:
- "./gradlew assembleRelease"
before_install:
- openssl aes-256-cbc -K $encrypted_1a17ea543043_key -iv $encrypted_1a17ea543043_iv -in gnsstest.jks.enc -out gnsstest.jks -d
- yes | sdkmanager "platforms;android-28"
- yes | sdkmanager "build-tools;27.0.3"
- yes | sdkmanager "build-tools;28.0.2"
- chmod +x gradlew
before_deploy:
- cp $TRAVIS_BUILD_DIR/gnsstest.jks $HOME
- cd app/build/outputs/apk/release/
- jarsigner -verbose -sigalg SHA1withRSA -digestalg SHA1 -keystore $HOME/gnsstest.jks -storepass $KEYSTORE_PWD -keypass $KEY_PWD app-release-unsigned.apk $KEY_ALIAS
- jarsigner -verify app-release-unsigned.apk
- "${ANDROID_HOME}/build-tools/28.0.2/zipalign -v 4 app-release-unsigned.apk GNSSTest.apk"
deploy:
  provider: releases
  skip_cleanup: true
  api_key:
    secure: RFvHWFuVJgEGLwMYc/a/fFnO8E0Ygr4sjpF0sX5rctXpCLzk/ByKPRquzBjCrnrRJVoDHxr/GGmSyy2aW8GJcZwSDp7zye6gVU6FAgMA3kX1FcNfdfdL1ib699AFkR8s2A5SYibu7ugqKlQM01eQjGdieyc8NxABeAx8P5CS2OPZBNSu2RlNZvDFUAIfO9xVocp9bzwPJCppBiAKAdHGwaExlOdO1HX48sO4NX9ik7ERhDaaNz7qtHMTluyN0b63St92MTW6BEaN1zvMMY0uTuSwDgkk7mQW9KMFJEvA/5SvZlKrU2YN2sd9kGv8xtaotl9Cour0Km8Nb4VqbGvqfpxXY3pIJOtsPmwwxxQGx/poG1m/rtHuxClrB3z06z5xva0QoopWpL04Zmmwf5qHvuoC7TOyVcTe9PIkUGp9zOPxFEYSYQEwxUtqH+yaiu688IcZx6wMBCsal3drbfIVQ6LXI/TRtIfmS1HDQs3zIL7BhYDp7wtz0u2u3q3r/X78s62ZGwODAKZGsq2Evtuey/A5mbjtLuDsC0x3O9H6kL6oHzIEk8iDbnYcfB1jPT7BGtU3VmLUKENqfJp0SSGC6wEYJipRP29zP3S+W7STy+hHug6ninZXWfZD8GjSTIet4nks9B3UwGHHcHAKq+JSpmFPZ/jlI3cbVcLbFLSJWV8=
  file: GNSSTest.apk
  on:
    tags: true

